.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(196, 214, 222);
}
.header img{
   width: 100%;
}