.lmw-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* .lmw-container */
  .lmw-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 94%;
  }
  .lmw-img img{
    display: inline-block;
    width: 100%;
    margin: auto;
  }
 .cardimg1{
  /* width: 7rem; */
  margin: auto;
 }
 .cardimg2{
  display: flex;
  width: 12rem;
  margin: auto;
 }
 .intervieImg{
  display: flex;
  margin: auto;
 }
.intervieImg img{
  width: 100%;
  margin: auto;
}
.img-logo{
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  
}
.img-logo img{
  width: 50%;
  display: flex;
}
.foo-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.intervie{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.intervie img{
height: 11rem;
width: 100%;
}

.logoImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LovePeace{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
.LovePeace img{
  width: 50%;
}

.container ,.reveal {
  background-color: black;
}
/* .LOGO{
  flex: 1;
  display: inline-block;
  height: 50%;
  
} */
/* .logoImg .size{
  width: 44%;
} */

  /* -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out; */