footer{
  background-color: rgb(4, 0, 30);
  color: rgb(224, 215, 215);
  box-sizing: border-box;
  padding: 2%;
  margin: 0;

}
.lastFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-size: larger;
  font-weight: 700;
}
.ytb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Youtube {
  width: 100%;
}
footer p {
  font-size: 1rem;
}

.design{
    width: 6rem;
}
